<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %> 

<div class="fullscreen_block">
      <div class="fullscreen_title">
          <h1>About</h1>
          <a href="javascript:history.back()" class="btn_close"></a>
            <!--<a href="#" class="btn_next"></a>
            <a href="#" class="btn_prev"></a>-->
        </div>

      <div class="fullscreen_content_wrapper">
            <div class="featured_slider_wrapper fullscreen_container">
              <a href="javascript:void(0)" class="featured_prev"></a><a href="javascript:void(0)" class="featured_next"></a>
              <ul class="featured_slider-list">
                  <li><%= image_tag("ash1.jpg") %></li>
                  <li><%#= image_tag("ash2.jpg") %></li>
                </ul>
            </div>
        </div><!-- .fullscreen_content_wrapper -->

        <div class="fullscreen_content">
            <a href="javascript:void(0)" class="content_toggle"><span class="collapse">Collapse</span><span class="show">Show info</span></a>        
            <div class="fullscreen_content_padding">
                <div class="row-fluid">
                    <div class="span12 module_cont module_fs_meta module_none_padding">
                        <p><span>25 April 2019</span> in <a href="#">Category</a></p>
                        <p><span>Author:</span> John Doe</p>
                        <p><span>Tags:</span> <a href="#">lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">egestas</a></p>
                    </div>                
                </div><!-- .row-fluid -->

                <div class="row-fluid">
                    <div class="span12 module_cont module_contact_icons module_small_padding1">
                        <a href="#" class="ico_socialize_facebook1 ico_socialize type1"></a>
                        <a href="#" class="ico_socialize_twitter2 ico_socialize type1"></a>
                        <a href="#" class="ico_socialize_pinterest ico_socialize type1"></a>
                        <a href="#" class="ico_socialize_google2 ico_socialize type1"></a>
                    </div>
                </div><!-- .row-fluid -->                    

                <div class="row-fluid">
                    <div class="span12 module_cont module_text_area module_small_padding">
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia ostras per inceptos himenaeos. In vehicula placerat pharetra.</p>
                        <p>Pellentesque vestibulum erat eu libero viverra consectetur ac eget turpis. Pellentesque magna enim, iaculis ut eleifend egetus nec ligula. Nullam mollis posuere libero, 
                        vitae porta magna fringilla vitae. Quisque ullamcorper nulla nec tortor vehicula vele <a href="#">aliquet nibh</a> dignissim. Mauris non ligula augue, ac laoreet antet fusce enim magna, 
                        tempus quis lobortis eu, pharetra eu ligula.</p>
                        <p>Nullam eu lacus neque, ut vulputate nulla. Morbi a felis a nunc viverra placerat. Curabitur molestie erat fermentum nibh suscipit dictum. Nullam eget augue sit amet velit 
                        adipiscing malesuada vel in mauris. Mauris egestas sodales felis vel faucibus. Aliquam vehicula nisi vel enim dapibus tempor. Cras rutrum quam at tem cursus a porta lorem luctus. 
                        Fusce vitae dolor in turpis posuere rhoncus sed ac m praesent venenatis, faucibus a varius lobortis ante id eros luctus consequat eget augue sit amet velit. Mauris nisi lectus, 
                        sollicitudin ac pulvinar nec, pulvinar ac odio. Nunc semper dignissim vehicula. Nunc id lorem nec quam facilisis tincidunt. Phasellus nec urna in odio sollicitudin faucibus 
                        sed tristique ligula. Fusce accumsan varius libero. Proin vitae velit a purus pulvinar cursus eu a erat. Donec molestie tempor eros faucibus porttitor.</p>
                        <p>Fusce dui enim, mattis id suscipit nec, posuere a augue sodales sapien sit amet justo ultricies <a href="#">ultrices pretium.</a></p>
                    </div>                
                </div><!-- .row-fluid -->

            </div><!-- .fullscreen_content_padding -->
        </div><!-- .fullscreen_content -->
        
  </div>    
    <div class="header2top"></div>
    
 <%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" %> 
 <%= javascript_include_tag "theme.js" %>    
 