<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %>  

<div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
          <div class="page_title_block">
              <div class="container">
                    <h3 class="title">This is so ugly</h3>
                    
                </div>
            </div>
            <div class="container">             
                <div class="content_block no-sidebar row">
                    <div class="fl-container span12">
                        <div class="row">
                            <div class="posts-block span12">
                                <div class="contentarea">
                                    
                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_text_area">
                                          <p>Donec justo lectus, sagittis at malesuada non, varius et purus. Integer dui diam, pharetra non euismod sit amet, faucibus sollicitudin Phasellus non ligula ac 
                                            nisi sodales mollis curabitur et lectus in sapien fermentum dictum nec luctus leo nam pretium elit sed mi egeit tincidunt auctor quisque orciegt, molestie ut 
                                            porta id pharetra vestibulum proin sit amet aliquet massa phasellus idtiquet mi mauris.</p>
                                        </div>                
                                    </div><!-- .row-fluid -->

                                    <div class="row-fluid">
                                        <div class="span4 module_cont module_contact_info module_small_padding1">
                                          <p>Address: 5512 Lorem Ipsum Vestibulum 666/13.</p>
                                            <p>Phone: +1 800 789 50 12, +1 800 450 6935</p>
                                            <p>Email: <a href="mailto:">mail@companyname.com</a></p>
                                            <p>Skype: company</p>
                                            
                                            <div class="module_contact_icons module_small_padding">
                                                <a href="#" class="ico_socialize_facebook1 ico_socialize type1"></a>
                                                <a href="#" class="ico_socialize_twitter2 ico_socialize type1"></a>
                                                <a href="#" class="ico_socialize_pinterest ico_socialize type1"></a>
                                                <a href="#" class="ico_socialize_google2 ico_socialize type1"></a>
                                            </div>
                                        </div>
                                        
                                        <div class="span8 module_cont module_feedback_form module_small_padding1">
                                            <form name="feedback_form" method="post" class="feedback_form">
                                                <input type="text" name="field-name" value="Name" title="Name" class="field-name form_field">
                                                <div class="clear"></div>
                                                <input type="text" name="field-email" value="Email" title="Email" class="field-email form_field">
                                                <div class="clear"></div>
                                                <input type="text" name="field-subject" value="Subject" title="Subject" class="field-subject form_field">
                                                <div class="clear"></div>
                                                <textarea name="field-message" cols="45" rows="5" title="Message" class="field-message form_field">Message</textarea>
                                                <div class="clear"></div>
                                                <input type="reset" name="reset" id="reset2" value="Clear form" class="feedback_reset">
                                                <input type="button" name="submit" class="feedback_go" id="submit2" value="Send Message!">
                                                <div class="ajaxanswer"></div>
                                            </form>
                                        </div><!-- .module_cont -->
                                        
                                    </div><!-- .row-fluid -->
                                    
                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_google_map">
                                            <iframe width="870" height="350" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=New+York&amp;sll=49.891235,-97.15369&amp;sspn=47.259509,86.923828&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+United+States&amp;ll=40.714867,-74.005537&amp;spn=0.019517,0.018797&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
                                        </div><!-- .module_cont -->
                                    </div><!-- .row-fluid -->                                    
                                   
                                </div><!-- .contentarea -->
                            </div>
                            <div class="left-sidebar-block span3">
                                //Sidebar Text
                            </div><!-- .left-sidebar -->
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div><!-- .fl-container -->
                    <div class="right-sidebar-block span3">
                        <aside class="sidebar">
              
                        </aside>
                    </div><!-- .right-sidebar -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div><!-- .container -->
        </div><!-- .content_wrapper -->
  
    </div><!-- .main_wrapper -->

    <div class="pre_footer">
        <div class="container">
            <aside id="footer_bar" class="row">
                <div class="span3">
                    <div class="sidepanel widget_posts">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Posts</h3></div>
                        <ul class="recent_posts">
                            <li>
                                <div class="recent_posts_img">
                                    <img src="img/pictures/featured_widget1.jpg" alt="" width="88" height="88"/>
                                </div>
                                <div class="recent_posts_content">
                                    <a href="blogpost_full.html" class="post_title">Pellentesque consequat</a>
                                    Consectetur adipiscing elit Praesent laoreet rutrum suada duis ac nisi, sapiens accumsan elementum.
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="recent_posts_img">
                                    <img src="img/pictures/featured_widget2.jpg" alt="" width="88" height="88"/>
                                </div>
                                <div class="recent_posts_content">
                                    <a href="blogpost_full.html" class="post_title">Lorem Ipsum dolor</a>
                                    Consectetur adipiscing elit Praesent laoreet rutrum suada duis ac nisi, sapiens accumsan elementum.
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div><!-- .sidepanel -->
                </div>

                <div class="span3">
                    <div class="sidepanel widget_mailchimpsf_widget">
                        <div class="bg_title"><h3 class="sidebar_header">MailChimp Widget</h3></div>
                        <p>Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi, ac sapiens ccumsan elementum. Nullam pretium, eros nec. 
                        Incidunt euismod, elit tortor.</p>

                        <div class="mc_form_inside">
                            <div class="mc_merge_var">                                
                              <label>Email address:</label>
                                <input type="text" class="mc_input" id="mc_mv_EMAIL" name="mc_mv_EMAIL" value="" title="" size="18">
              </div><!-- /mc_merge_var -->
              <div class="mc_signup_submit">
                <input type="submit" class="mc_submit" value="Subscribe Now!" id="mc_signup_submit" name="mc_signup_submit">
              </div><!-- /mc_signup_submit -->
            </div>
          </div><!-- .sidepanel -->
                </div>               
                
                <div class="span3">
                    <div class="sidepanel widget_twitter">
                        <div class="bg_title"><h3 class="sidebar_header">Latest Tweets</h3></div>
                        <ul class="tweet_list twitter_list">
                            <li>
                              <span class="tweet_time">Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi <a href="#">@egestas</a></span>
                            </li>
                            <li>
                              <span class="tweet_time">Ac sapiens ccumsan elementum, nullam egets pretium, eros nec. Incidunt euismod elit.</span>
                            </li>
                            <li>
                              <span class="tweet_time">Consequat ligula orci dui in tincidunt orci dui in odio donec congue enim qus risus ellentesque in semper diam accumsan <a href="#">@nam_elementum</a></span>
                            </li>
                            <li>
                              <span class="tweet_time">Velit vel felis pulvinar dignissim et etiam!</span>
                            </li>
                        </ul>
            <script>
                            /*$(document).ready(function(){
                                $('.tweet_1057').tweet({
                  modpath: 'twitter/',
                  count: 3,
                  username : 'themedev'
                               });
                            });*/
                        </script>
                    </div><!-- .widget_twitter -->
                </div>

                <div class="span3">
                    <div class="sidepanel widget_flickr">
                        <div class="bg_title"><h3 class="sidebar_header">Flickr Photostream</h3></div>
                        <div class="flickr_widget_wrapper">
                            <script src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=92335820@N08"></script>
                        </div>
                    </div><!-- .sidepanel -->                        
                </div>
            </aside>
        </div>
    </div><!-- .pre_footer -->
    
    
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" %>  
<%= javascript_include_tag "theme.js" %>  
   