<div class="main_wrapper">
    <!-- C O N T E N T -->
  <div class="content_wrapper">
    <div class="page_title_block"></div>
    <div class="container">             
      <div class="content_block right-sidebar row">
        <div class="fl-container span9">
          <div class="row">
            <div class="posts-block span9">
              <div class="contentarea">
                <div class="row-fluid">                                
                  <div class="span12 module_cont module_blog">
                            
<!-- NEED TO PUT A CMS OR ADMIN HERE -->

                      <div class="blog_post_preview">
                        <div class="blog_head">
                            <span class="blogpost_type_ico post_type_gallery"></span>
                            <div class="bg_title"><h3><a class="blogpost_title" href="blogpost_full.html">Really Awesome Event Coming Up!!</a></h3></div>
                              <div class="blogpost_meta">
                                  <span>25 April 2019</span>

                            <!--       <span><a href="#">John Doe</a></span>
                                  <span>In <a href="#">Category</a></span>
                                  <span>Tags: <a href="#">lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">egestas</a></span> -->

                              </div>

                          </div><!-- .blog_head -->
                          <div class="featured_image_full">
    <img src="img/pictures/blogpost-slide1f.jpg" alt="" width="1170" height="470" />
                          </div><!-- .featured_image_full -->
                          <article class="contentarea">
                              <p>Vestibulum eget consequat viverra ipsum, sed placerat ligula aliquam eu. Nam sapien eros enatis at dapibus facilisis, lacinia sagittis purus. Ut 
                              euismod aliquet enim, nec semper mi posuere nec lors nam nunc est, faucibus iaculis varius vitae, placerat quis felis. Nunc elementum dolor quis aclorem 
                              lorem hendrerit egets porttitor. Aliquam nusl ultricien ullamcorper erat eget tempor eget mauris vulputate.</p>
                              <p>Quam, luctus condimentum elementum sed, fermentum nec enim. Proin ac nisi in magna tristique los adipiscing et vitae eros. Nam tempus ornare bibendum. 
                              Vestibulum fringilla tellus pretium elit dapibus mattis. Curabitur a odio sedcust pharetra imperdiet. Donec ultrices dignissim placerat. In hacs habitasse 
                              platea dictumst. Maecenas massa elit, bibendum vel laoreet. sed, vestibulum sit amet urna. Aenean pulvinar ante tincidunt neque pulvinar vestibulum. Nulla 
                              condimentum, arcu ut semper varius, erat risus condimentum justo, suscipit pretium nisi mauris luctus magna. <a href="blogpost_full.html" class="more-link">Read more...</a></p>
                          </article>
                      </div><!--.blog_post_preview -->

                      <div class="blog_post_preview">
                        <div class="blog_head">
                            <span class="blogpost_type_ico post_type_text"></span>
                            <div class="bg_title"><h3><a class="blogpost_title" href="blogpost_full.html">Lorem ipsum dolor pellentesque</a></h3></div>
                              <div class="blogpost_meta">
                                  <span>25 April 2019</span>
                                  <span><a href="#">John Doe</a></span>
                                  <span>In <a href="#">Category</a></span>
                                  <span>Tags: <a href="#">lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">egestas</a></span>
                              </div>
                          </div><!-- .blog_head -->
                          <article class="contentarea">
                              <p>Quam, luctus condimentum elementum sed, fermentum nec enim. Proin ac nisi in magna tristique los adipiscing et vitae eros. Nam tempus ornare bibendum. 
                              Vestibulum fringilla tellus pretium elit dapibus mattis. Curabitur a odio sedcust pharetra imperdiet. Donec ultrices dignissim placerat. In hacs habitasse 
                              platea dictumst. Maecenas massa elit, bibendum vel laoreet. sed, vestibulum sit amet urna. Aenean pulvinar ante tincidunt neque pulvinar vestibulum. 
                              Nulla condimentum, arcu ut semper varius, erat risus condimentum justo, suscipit pretium.<a href="blogpost_full.html" class="more-link">Read more...</a></p>
                              <p>Vestibulum eget consequat viverra ipsum, sed placerat ligula aliquam eu. Nam sapien eros enatis at dapibus facilisis, lacinia sagittis purus. Ut 
                              euismod aliquet enim, nec semper mi posuere nec lors nam nunc est, faucibus iaculis varius vitae, placerat quis felis. Nunc elementum dolor quis aclorem 
                              lorem hendrerit egets porttitor. Aliquam nusl ultricien ullamcorper erat eget tempor eget mauris vulputate.</p>
                          </article>
                      </div><!--.blog_post_preview -->

                      <div class="blog_post_preview">
                        <div class="blog_head">
                            <span class="blogpost_type_ico post_type_gallery"></span>
                            <div class="bg_title"><h3><a class="blogpost_title" href="blogpost_full.html">Awesome Theme!</a></h3></div>
                              <div class="blogpost_meta">
                                  <span>25 April 2019</span>
                                  <span><a href="#">John Doe</a></span>
                                  <span>In <a href="#">Category</a></span>
                                  <span>Tags: <a href="#">lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">egestas</a></span>
                              </div>
                          </div><!-- .blog_head -->
                          <div class="featured_image_full">
    <iframe width="870" height="490" src="http://player.vimeo.com/video/30581015" allowfullscreen></iframe>
                          </div><!-- .featured_image_full -->
                          <article class="contentarea">
                              <p>Vestibulum eget consequat viverra ipsum, sed placerat ligula aliquam eu. Nam sapien eros enatis at dapibus facilisis, lacinia sagittis purus. Ut 
                              euismod aliquet enim, nec semper mi posuere nec lors nam nunc est, faucibus iaculis varius vitae, placerat quis felis. Nunc elementum dolor quis aclorem 
                              lorem hendrerit egets porttitor. Aliquam nusl ultricien ullamcorper erat eget tempor eget mauris vulputate.</p>
                              <p>Quam, luctus condimentum elementum sed, fermentum nec enim. Proin ac nisi in magna tristique los adipiscing et vitae eros. Nam tempus ornare bibendum. 
                              Vestibulum fringilla tellus pretium elit dapibus mattis. Curabitur a odio sedcust pharetra imperdiet. Donec ultrices dignissim placerat. In hacs habitasse 
                              platea dictumst. Maecenas massa elit, bibendum vel laoreet. sed, vestibulum sit amet urna. Aenean pulvinar ante tincidunt neque pulvinar vestibulum. Nulla 
                              condimentum, arcu ut semper varius, erat risus condimentum justo, suscipit pretium nisi mauris luctus magna. <a href="blogpost_full.html" class="more-link">Read more...</a></p>
                          </article>
                      </div><!--.blog_post_preview -->
                      
                      <ul class="pagerblock">
                          <!--<li><a href="#"><span class="btn_prev">Previous</span></a></li>-->
                          <li><a class="current" href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <!--<li><a href="#"><span class="btn_next">Next</span></a></li>-->
                      </ul><!-- .pagerblock -->
                  </div>                
              </div><!-- .row-fluid -->
              
          </div><!-- .contentarea -->
      </div>
      <div class="left-sidebar-block span3">
          
      </div><!-- .left-sidebar -->
  </div>
  <div class="clear"><!-- ClearFix --></div>
</div><!-- .fl-container -->
<div class="right-sidebar-block span3">
  <aside class="sidebar">
      <div class="sidepanel widget_posts">
          
                  <div class="clear"></div>
          
                 
              
      </div><!-- .sidepanel -->

                <div class="sidepanel widget_twitter">
                    <div class="bg_title"><h3 class="sidebar_header">Latest Tweets</h3></div>
                    <ul class="tweet_list twitter_list">
                        <a class="twitter-timeline" href="https://twitter.com/citylez" data-widget-id="355811866720759808">Tweets by @citylez</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                    </ul>
                    <script>
                        /*$(document).ready(function(){
                            $('.tweet_1057').tweet({
                                modpath: 'twitter/',
                                count: 3,
                                username : 'themedev'
                             });
                        });*/
                    </script>
                </div><!-- .widget_twitter -->

                <div class="sidepanel widget_flickr">
                    <div class="bg_title"><h3 class="sidebar_header">Follow Gayface <br>on Instagram!</h3></div>
                    <div class="flickr_widget_wrapper">
                        <!-- SnapWidget -->
                    <iframe src="http://snapwidget.com/in/?u=Z2F5ZmFjZV8xc3RfY2xhc3N8aW58MTAwfDJ8M3x8eWVzfDV8bm9uZQ==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:230px; height: 345px" ></iframe>
                    </div>
                </div><!-- .sidepanel -->

                <div class="sidepanel widget_tag_cloud">
                    <div class="bg_title"><h3 class="sidebar_header">Tags</h3></div>
                    <div class="tagcloud">
                        <a href="#">lorem</a>
                        <a href="#">ipsum</a>
                        <a href="#">dolor sit</a>
                        <a href="#">amet</a>
                        <a href="#">pellentesque</a>
                        <a href="#">ridiculus</a>
                    </div>
                    <div class="clear"></div>
                </div><!-- .sidepanel -->
            </aside>
        </div><!-- .right-sidebar -->
        <div class="clear"><!-- ClearFix --></div>
    </div>
</div><!-- .container -->
</div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->

<div class="pre_footer">
<div class="container">
<aside id="footer_bar" class="row">
            
</aside>
</div>
</div><!-- .pre_footer -->

<%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" %>  
<%= javascript_include_tag "theme.js" %>  