<footer>
    <div class="footer_line container">
        <div class="socials">
          <ul class="socials_list">
              <li><a href="#" class="ico_social-facebook"></a></li>
              <%#= image_tag "frame_icons.png", :class "ico_social-twitter" %>
                <li><a href="#" class="ico_social-twitter"></a></li>
                <li><a href="#" class="ico_social-linked"></a></li>
                <li><a href="#" class="ico_social-delicious"></a></li>
                <li><a href="#" class="ico_social-vimeo"></a></li>
                <li><a href="#" class="ico_social-flickr"></a></li>
                <li><a href="#" class="ico_social-pinterest"></a></li>
                <li><a href="#" class="ico_social-tumblr"></a></li>                   
                <li><a href="#" class="ico_social-youtube"></a></li>                    
                <li><a href="#" class="ico_social-instagram"></a></li>
                <li><a href="#" class="ico_social-gplus"></a></li>
                <li><a href="#" class="ico_social-dribbble"></a></li>
            </ul>            
        </div>
      
</footer>